<h1>Real Time Bitcoin Data</h1>

<div>
    <div>
        @if (marketTradeSummary.isSet == "YES") {
        <h4>{{marketTradeSummary.closingPrice}} USD</h4>
        <p>COP: {{marketTradeSummary.COP}}</p>
        <p>Size: {{marketTradeSummary.totalSize}}</p>
        }
        @else {
        <app-custom-loader></app-custom-loader>
        }
    </div>

    <button (click)="activePanel()">More Info</button>

    <app-left-panel [panelActive]="panelActive">
        <app-transaction-summary [transactionSummary]="transactionSummary"></app-transaction-summary>
    </app-left-panel>
</div>

<app-bitcoins-date-info [weekNumber]="1" [accessKey]="1"></app-bitcoins-date-info>
<app-bitcoins-date-info [weekNumber]="2" [accessKey]="2"></app-bitcoins-date-info>